body{
    background-color: rgb(68, 230, 149);
    margin-top: 10%;
}
h1{
    font-size: xx-large;
    font: Arial Algerian;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 5%;
}
.container{
    height: 400px;
    width: 500px;
    padding: auto;
    margin: auto;
    border: 5px;
    border-radius: 6px;
    background-color: rgb(88, 208, 235);
    text-align: center;
    float: Middle;
    box-shadow: 2px 1px 1px 2px rgb(14, 167, 206);
}
.box{
    width: 400px;
    height: 50px;
    border: 3px solid rgba(237, 95, 18, 0);
    border-radius: 4px;
}
.checkbox{
    width: auto;
    height: auto;
}
button{
    width: auto;
    height: auto;
    background-color: rgb(10, 185, 57);
    border: 5px;
    border-radius: 6px;
}